@import "tailwindcss";


@theme{
    --color-main: #333;
    --color-main-dark: #d53420;
    --color-acent: #e8462d;
    --color-dark: #1f262e;
    --color-dark-secondary: #161d25;
    --color-dark-card: #1c232b;
}

@layer components {

    #search{
        @apply relative w-full max-w-52 md:max-w-96 px-6;
    }

    /* Input */
    .pagefind-ui__search-input {
        @apply w-full rounded-full border border-gray-400 px-4 py-2 text-dark focus:outline-none focus:ring-2 focus:ring-acent;
    }

        /* El input queda igual */
        .pagefind-ui__form {
            position: relative;
            z-index: 20;
            /* input arriba de los resultados */
        }

        .pagefind-ui__drawer{
            @apply absolute top-full -left-24 md:left-0 w-72 md:w-full max-h-96 overflow-y-auto bg-white border border-dark z-50 px-0.5 shadow-lg
        }

    /* Contenedor de resultados */
    .pagefind-ui__results {
        @apply mt-2 w-full max-w-sm bg-white rounded-lg shadow-lg border border-gray-200 overflow-hidden;
    }

    /* Cada resultado */
    .pagefind-ui__result {
        @apply px-4 py-2 hover:bg-gray-100 cursor-pointer;
    }

    /* Título de resultado */
    .pagefind-ui__result-title {
        @apply text-acent font-semibold;
    }

        /* Opcional: para que la lista no empuje nada del nav */
        .pagefind-ui__results-area {
            margin-top: 0 !important;
        }
}