@import "tailwindcss";


@theme{
    --color-main: #333;
    --color-main-dark: #d53420;
    --color-acent: #e8462d;
    --color-dark: #1f262e;
    --color-dark-secondary: #161d25;
    --color-dark-card: #1c232b;
}